.card-wrapper {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.main-card {
  width: 240px;
  background: rgb(250, 250, 250);
}

.value {
  font-size: 3.8rem;
}

.container {
  margin: 2rem auto;
  width: 75%;
}

mat-card-content {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.line {
  width:28px;
  height:28px;
  position:relative;
  left: 165px;
}

.line:after {
  content:"";
  position:absolute;
  border-top:2.5px solid rgb(77, 76, 76);
  width:120px;
  transform: rotate(135deg);
  transform-origin: 0% 0%;
}

.stat-container {
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;   
  width: 100%;
  span {
    font-size: 1.5rem;
  }
}