.container {
  width: 20rem;
  height: 25rem;
}

.flex-form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.form-control {
  height: 1.5rem;
}

.nested-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-items: flex-end;
}

.button {
  margin-top: 11rem;
  width: 12rem;
  height: 2rem;
}

::ng-deep .p-datepicker { //not currently working
  height: 2.5rem;
}