<div class="container">
  <form
  id="login-form"
  class="form"
  novalidate
  [formGroup]="personForm"
  >

  <div class="flex-form">
    <h1 class="text-center my-4 h3">{{ id > 0 ? 'Edit' : 'Add' }} person</h1>
    <mat-form-field class="form-group">
      <input matInput
        type="text"
        name="name"
        id="name"
        class="form-control"
        formControlName="name"
        placeholder="Name"
        autocomplete="off"
      />
      <mat-error *ngFor="let validation of validation_messages.name">
        <mat-error class="error-message" *ngIf="personForm.get('name').hasError(validation.type) && (personForm.get('name').dirty || personForm.get('name').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>

  <mat-form-field class="form-group">
      <input matInput
      type="text"
      name="surname"
      id="surname"
      class="form-control"
      formControlName="surname"
      placeholder="Surname"
      autocomplete="off"
    />
    <mat-error *ngFor="let validation of validation_messages.surname">
      <mat-error class="error-message" *ngIf="personForm.get('surname').hasError(validation.type) && (personForm.get('surname').dirty || personForm.get('surname').touched)">{{validation.message}}</mat-error>
    </mat-error>
  </mat-form-field>


    <div class="form-group">
      <div class="p-fluid p-grid p-formgrid">
        <div class="p-field p-col-12 p-md-4">
          <input matInput formControlName="dob" [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngFor="let validation of validation_messages.dob">
            <mat-error class="error-message error-small" *ngIf="personForm.get('dob').hasError(validation.type) && (personForm.get('dob').dirty || personForm.get('dob').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </div>
      </div>
    </div>
    <div class="action-box">
      <button type="submit" name="submit" class="button" (click)="onSave()">Save</button> 
      <button type="submit" name="submit" class="button" (click)="onCancel()">Cancel</button> 
    </div>
    
  </div>

  </form>
</div>