<div class="container">
  <form
  id="login-form"
  class="form"
  novalidate
  [formGroup]="personForm"
  >

  <div class="flex-form">
    <h1 class="text-center my-4 h3">{{ id > 0 ? 'Edit' : 'Add' }} person</h1>
    <div class="form-group">
      <input
        type="text"
        name="name"
        id="name"
        class="form-control"
        formControlName="name"
        placeholder="Name"
        autocomplete="off"
      />
    </div>

    <div class="form-group">
      <input
      type="text"
      name="surname"
      id="surname"
      class="form-control"
      formControlName="surname"
      placeholder="Surname"
      autocomplete="off"
    />
    </div>


    <div class="form-group">

      <div class="p-fluid p-grid p-formgrid">
        <div class="p-field p-col-12 p-md-4">
          <p-calendar formControlName="dob" placeholder="Date of birth"></p-calendar>
        </div>
      </div>
    </div>

    <button
    type="submit"
    name="submit"
    class="button"
    (click)="onSave()"
    >Save</button> 

      
  </div>

  </form>
</div>